config TOUCHPANEL_SYNAPTICS_S3706
        bool "Synaptics s3706 Touchscreen Driver"
        depends on I2C
        help
          Say Y here if you have a Synaptics s3706 Touchpanel.

          If unsure, say N.
